<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Archon</key>
	<dict>
		<key>time</key>
		<string>12</string>
		<key>img</key>
		<string>archon.png</string>
		<key>name</key>
		<string>Archon</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>Carrier</key>
	<dict>
		<key>time</key>
		<string>120</string>
		<key>img</key>
		<string>carrier.png</string>
		<key>name</key>
		<string>Carrier</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>Colossus</key>
	<dict>
		<key>time</key>
		<string>75</string>
		<key>img</key>
		<string>colossus.png</string>
		<key>name</key>
		<string>Colossus</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>Dark Templar</key>
	<dict>
		<key>time</key>
		<string>55</string>
		<key>img</key>
		<string>darktemplar.png</string>
		<key>name</key>
		<string>Dark Templar</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>High Templar</key>
	<dict>
		<key>time</key>
		<string>55</string>
		<key>img</key>
		<string>hightemplar.png</string>
		<key>name</key>
		<string>High Templar</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>Immortal</key>
	<dict>
		<key>time</key>
		<string>55</string>
		<key>img</key>
		<string>immortal.png</string>
		<key>name</key>
		<string>Immortal</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>Mothership</key>
	<dict>
		<key>time</key>
		<string>160</string>
		<key>img</key>
		<string>mothership.png</string>
		<key>name</key>
		<string>Mothership</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>Observer</key>
	<dict>
		<key>time</key>
		<string>30</string>
		<key>img</key>
		<string>observer.png</string>
		<key>name</key>
		<string>Observer</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>Phoenix</key>
	<dict>
		<key>time</key>
		<string>35</string>
		<key>img</key>
		<string>phoenix.png</string>
		<key>name</key>
		<string>Phoenix</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>Probe</key>
	<dict>
		<key>time</key>
		<string>17</string>
		<key>img</key>
		<string>probe.png</string>
		<key>name</key>
		<string>Probe</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>Sentry</key>
	<dict>
		<key>time</key>
		<string>37</string>
		<key>img</key>
		<string>sentry.png</string>
		<key>name</key>
		<string>Sentry</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>Stalker</key>
	<dict>
		<key>time</key>
		<string>42</string>
		<key>img</key>
		<string>stalker.png</string>
		<key>name</key>
		<string>Stalker</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>Void Ray</key>
	<dict>
		<key>time</key>
		<string>60</string>
		<key>img</key>
		<string>voidray.png</string>
		<key>name</key>
		<string>Void Ray</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>Warp Prism</key>
	<dict>
		<key>time</key>
		<string>50</string>
		<key>img</key>
		<string>warpprism.png</string>
		<key>name</key>
		<string>Warp Prism</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
	<key>Zealot</key>
	<dict>
		<key>time</key>
		<string>38</string>
		<key>img</key>
		<string>zealot.png</string>
		<key>name</key>
		<string>Zealot</string>
		<key>race</key>
		<string>protoss</string>
	</dict>
</dict>
</plist>
