<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Baneling</key>
	<dict>
		<key>time</key>
		<string>20</string>
		<key>img</key>
		<string>baneling.png</string>
		<key>name</key>
		<string>Baneling</string>
		<key>race</key>
		<string>zerg</string>
	</dict>
	<key>Brood Lord</key>
	<dict>
		<key>time</key>
		<string>34</string>
		<key>img</key>
		<string>broodlord.png</string>
		<key>name</key>
		<string>Brood Lord</string>
		<key>race</key>
		<string>zerg</string>
	</dict>
	<key>Corruptor</key>
	<dict>
		<key>time</key>
		<string>40</string>
		<key>img</key>
		<string>corruptor.png</string>
		<key>name</key>
		<string>Corruptor</string>
		<key>race</key>
		<string>zerg</string>
	</dict>
	<key>Drone</key>
	<dict>
		<key>time</key>
		<string>17</string>
		<key>img</key>
		<string>drone.png</string>
		<key>name</key>
		<string>Drone</string>
		<key>race</key>
		<string>zerg</string>
	</dict>
	<key>Hydralisk</key>
	<dict>
		<key>time</key>
		<string>33</string>
		<key>img</key>
		<string>hydralisk.png</string>
		<key>name</key>
		<string>Hydralisk</string>
		<key>race</key>
		<string>zerg</string>
	</dict>
	<key>Infestor</key>
	<dict>
		<key>time</key>
		<string>50</string>
		<key>img</key>
		<string>infestor.png</string>
		<key>name</key>
		<string>Infestor</string>
		<key>race</key>
		<string>zerg</string>
	</dict>
	<key>Mutalisk</key>
	<dict>
		<key>time</key>
		<string>33</string>
		<key>img</key>
		<string>mutalisk.png</string>
		<key>name</key>
		<string>Mutalisk</string>
		<key>race</key>
		<string>zerg</string>
	</dict>
	<key>Overlord</key>
	<dict>
		<key>time</key>
		<string>25</string>
		<key>img</key>
		<string>overlord.png</string>
		<key>name</key>
		<string>Overlord</string>
		<key>race</key>
		<string>zerg</string>
	</dict>
	<key>Overseer</key>
	<dict>
		<key>time</key>
		<string>17</string>
		<key>img</key>
		<string>overseer.png</string>
		<key>name</key>
		<string>Overseer</string>
		<key>race</key>
		<string>zerg</string>
	</dict>
	<key>Queen</key>
	<dict>
		<key>time</key>
		<string>50</string>
		<key>img</key>
		<string>queen.png</string>
		<key>name</key>
		<string>Queen</string>
		<key>race</key>
		<string>zerg</string>
	</dict>
	<key>Roach</key>
	<dict>
		<key>time</key>
		<string>27</string>
		<key>img</key>
		<string>roach1.png</string>
		<key>name</key>
		<string>Roach</string>
		<key>race</key>
		<string>zerg</string>
	</dict>
	<key>Ultralisk</key>
	<dict>
		<key>time</key>
		<string>55</string>
		<key>img</key>
		<string>ultralisk.png</string>
		<key>name</key>
		<string>Ultralisk</string>
		<key>race</key>
		<string>zerg</string>
	</dict>
	<key>Zergling</key>
	<dict>
		<key>time</key>
		<string>24</string>
		<key>img</key>
		<string>zergling.png</string>
		<key>name</key>
		<string>Zergling</string>
		<key>race</key>
		<string>zerg</string>
	</dict>
</dict>
</plist>
